button{
    cursor: pointer;
    
}

#nextButton{    
    width: 33px;
    height: 33px;
    border: 2px solid #333;
    border-left: 0;
    border-top: 0;
    margin-left: 5px;
    transform: rotate(315deg);
}

#previousButton {
    width: 33px;
    height: 33px;
    border: 2px solid #333;
    border-left: 0;
    border-top: 0;
    margin-right: 5px;

    transform: rotate(135deg);
  }