#navBar{
    position: fixed; /* Establece la posición fija */
    z-index: 999; /* Asegura que la barra de navegación esté sobre otros elementos de la página */
    width: 100%; /* Asegura que la barra de navegación ocupe todo el ancho */
}

#navBar a {
    text-decoration: none; /* Quita la subrayado de los enlaces */
    color: #bbb7b7; /* Color de los enlaces cuando no se les pasa el mouse por encima */
    transition: color 0.3s; /* Agrega una transición suave de color */
    
}

#navBar a:hover {
    color: #ffffff; /* Cambia el color cuando el mouse pasa por encima */
  }

/* Media query para pantallas más pequeñas, ajusta el tamaño del texto y el espaciado entre enlaces */
@media only screen and (max-width: 600px) {
    #navBar a {
        font-size: 14px;
        padding: 8px 12px;
    }
}

/* Media query para pantallas medianas, ajusta el tamaño del texto y el espaciado entre enlaces */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    #navBar a {
        font-size: 16px;
        padding: 10px 15px;
    }
}

#logo{
    padding: -50px;
    margin-top: -20px;
    margin-bottom: -15px;
    margin-left: 4px;
    margin-right: 5px;
    height: 90px;
    width: 100px;
}