<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="signup">
        <form action="submit">
            <label for="chk" aria-hidden="true">Sign up</label>
            <input type="text" name="txt" placeholder="User name" required="" [(ngModel)]="userName">
            <input type="email" name="email" placeholder="Email" required="" [(ngModel)]="email">
            <input type="password" name="pswd" placeholder="Password" required="" autocomplete="current-password" [(ngModel)]="password">
            <button type="button" (click)="onSubmit($event)">Sign up</button>
        </form>
    </div>
</body>
</html>