<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <app-nav-bar-logged></app-nav-bar-logged>
    <div id="align">
        <div id="container">
            <h1 id="messageCreate">CREATE A NEW ROUTINE</h1>
            <div id="create" style="display: none;">
            <label for="nameRoutine" id="labelName">Name</label>
            <br>
            <input type="text" name="nameRoutine" id="nameRoutine" placeholder="Set a name for your routine">
            <br>
            <p>Select if you want your routine to be visible for everyone or private</p>
            <input type="radio" name="publicAccess" id="publicAccessInp" (click)="desmarcarOpcion('privateAccessInp')">;
            <label for="publicAccess">Public</label>
            <br>
            <input type="radio" name="privateAccess" id="privateAccessInp" (click)="desmarcarOpcion('publicAccessInp')">;
            <label for="privateAccess">Private</label>
            <br>
            <button id="createRoutine" (click)="crearRutina()" class="btn btn-3 btn-sep icon-add">Create</button>
            </div>
        </div>
    </div>
    <div id="backToListDiv">
        <button id="backToList" class="btn btn-1 btn-sep icon-back" (click)="backToList('routines')">BACK TO PREVIOUS PAGE</button>
        <button id="backToMenu" class="btn btn-2 btn-sep icon-backAll" (click)="backToList('')">BACK TO MAIN MENU</button>
    </div>
    <app-footer></app-footer>
</body>
</html>