body{
    background: none;
    display: flex;
    justify-content: center;
}
#notLogged{
    margin-top: 2%;
    width: 90%;
    height: 80vh;
    background: rgba(0, 0, 0, 0.7); /* Fondo blanco semitransparente */
    backdrop-filter: blur(2px); /* Efecto de desenfoque */
    box-shadow: rgba(22, 20, 20, 0.5) 10px 10px 10px 10px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'globerBold';
    letter-spacing: 3px;
}
.btn {
    border: none;
    font-family: 'Lato';
    font-size: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 25px 80px;
    display: inline-block;
    margin: 15px 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  
  .btn:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  
  /* Pseudo elements for icons */
  .btn:before {
    font-family: 'FontAwesome';
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    position: relative;
    -webkit-font-smoothing: antialiased;
  }
  
  
  /* Icon separator */
  .btn-sep {
    padding: 25px 60px 25px 120px;
  }
  
  .btn-sep:before {
    background: rgba(0,0,0,0.15);
  }
  
  .btn:before {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    line-height: 3;
    font-size: 140%;
    width: 60px;
  }
  .btn-1 {
    background: #cbf401;
    color: #000000;
  }
  .icon-login:before {
    content: "\f090";
  }