<div id="optionsPublic">
    <h1 id="messageFounded">PUBLIC ROUTINES</h1>
    <p id="messageMR">Here's how other's routines look like, some of them may help you!</p>
    <div id="routineOptions" class="options">
    <button [routerLink]="['/routines']" id="optionCreate" class="btn btn-1 btn-sep icon-previous">BACK TO MY ROUTINES</button>
    <button id="optionLook" class="btn btn-2 btn-sep icon-copy" (click)="copyRoutine()">COPY ROUTINE</button>
    <button [routerLink]="['/']" id="optionDelete" class="btn btn-3 btn-sep icon-menu">BACK TO MENU</button>
    </div>
</div>