.exercise-name {
    font-size: 1.5rem;
    font-weight: 100;
    font-family: 'Lato', sans-serif;
    line-height: 58px;
}

.exercise-type {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(36, 43, 49);
}

.exercise-difficulty {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(36, 43, 49);

}

.exercise-item{
    display: grid;
    /* grid-template-columns: repeat(5, 1fr); */
    align-items: center;
    justify-content: center;
    gap: 10px; /* Añadido espacio entre los elementos */
    margin-top: 20px; /* Añadido espacio entre #head y #container */
}