body {
    margin: 0;
	padding: 0;
	min-height: 100vh;
	font-family: 'Jost', sans-serif;
	background: linear-gradient(to bottom, #001b48, #02457a, #018abe);
    background-image: url('../../../../assets/blue background.jpg');
    background-repeat: no repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}
.exercise-name {
    font-size: 3rem;
    font-weight: 100;
    font-family: 'Lato', sans-serif;
    line-height: 58px;

}
.exercise-item {
    background-color: none;
    border: 3px solid rgb(130, 130, 130);
    border-radius: 8px;
    text-align: center;
    margin-top: 130px;
    margin-left: 470px;
    width: 500px;
    box-shadow: rgba(22, 20, 20, 0.5) 12px 12px 12px 12px; 
}
.exercise-type {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(36, 43, 49);
}

.exercise-difficulty {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(36, 43, 49);

}
#addToRoutine {
    position: fixed;
    text-align: center;
    margin-top: 15px;
    margin-left: 595px;
    border-radius: 20px;
    border: 2px solid rgb(124, 124, 124);
    background-color: rgb(43, 43, 56);
    color: white;
    width: 250px;
    cursor: pointer;
    transition: transform 0.5s ease; /* Agrega una transici칩n suave para una animaci칩n m치s agradable */
    height: 85px;
}
#addToRoutine:hover {
    border: 2px solid rgb(189, 189, 189);
    transform: scale(1.03); /* Escala el div al 120% del tama침o original */
}
#h1add {
    margin-top: 27px;
    font-size: 20px;
}
#repsDiv {
    background-color: rgb(21, 21, 28);
    color: white;
    border-radius: 10px;
    border: 1px solid grey;
    margin-left: 15px;
    width: fit-content;
    padding: 15px;
}
button {
    margin-top: 15px;
    border-radius: 5px;
    background-color: greenyellow;
    border: 0px;
}