body {
    margin: 0;
	padding: 0;
	min-height: 100vh;
	font-family: 'Jost', sans-serif;
    background-image: url('..//..//..//..//assets/gym4.jpg');
}
.exercise-name {
    font-size: 3rem;
    font-weight: 100;
    font-family: 'Lato', sans-serif;
    line-height: 58px;

}
.exercise-item {
    background-color: none;
    border: 1px solid rgb(130, 130, 130);
    border-radius: 8px;
    width: 35%;
    height: 700px;
    background: rgba(0, 0, 0, 0.7); /* Fondo blanco semitransparente */
    backdrop-filter: blur(2px); /* Efecto de desenfoque */
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.3); /* Sombra con color semitransparente */
    overflow-y: auto;
    overflow-x: auto;
    p, h1{
        margin-left: 2%;
        font-family: 'yolk';
    }
    h1{
        margin-top: 2%;
        font-family: 'globerBold';
        font-size: 40px;
        letter-spacing: 2px;
        width: 95%;
        border-bottom: 1px solid rgb(130, 130, 130);
    }
}
#align{
    display: flex;
    justify-content: center;
}
.exercise-type {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.exercise-difficulty {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#addToRoutine {
    background-color: rgb(200, 244, 0);
    color: black;
    width: 30%;
    height: 55px;
    border-radius: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 1%;
    margin-left: 1%;
    cursor: pointer;
    transition: transform 0.5s ease; /* Agrega una transición suave para una animación más agradable */
    transition: background-color 0.5s ease;
}
#addToRoutine:hover {
    transform: scale(1.05); /* Escala el div al 120% del tamaño original */
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
#h1add {
    font-family: 'globerBold';
    letter-spacing: 1px;
    margin-top: 12%;
    font-size: 15px;
}
#repsDiv {
    background-color: rgb(21, 21, 28);
    position: absolute;
    top: 40%;
    color: white;
    border-radius: 10px;
    border: 1px solid grey;
    margin-left: 15px;
    width: fit-content;
    height: 20%;
    padding: 15px;
}
button {
    margin-top: 15px;
    border-radius: 5px;
    background-color: greenyellow;
    border: 0px;
}
@media (min-width: 1200px) {}
@media (min-width: 768px) and (max-width: 1199px) {
    .exercise-item{
        margin-top: 2%;
        width: 60%;
        max-height: 550px;
    }
    #alignReps{
        display: flex;
        justify-content: center;
    }
    #repsDiv{
        position: relative;
        margin: 0;
        margin-top: 2%;
    }
}
@media (min-width: 481px) and (max-width: 767px) {
    .exercise-item{
        margin-top: 10%;
        width: 75%;
        max-height: 500px;
        #addToRoutine{
            width: 45%;
            margin-bottom: 2%;
        }
    }
    #alignReps{
        display: flex;
        justify-content: center;
    }
    #repsDiv{
        position: relative;
        margin: 0;
        margin-top: 2%;
    }
}
@media (max-width: 480px) and (min-width: 280px) {
    .exercise-item{
        margin-top: 10%;
        width: 95%;
        max-height: 500px;
        #addToRoutine{
            width: 45%;
            margin-bottom: 2%;
        }
    }
    #alignReps{
        display: flex;
        justify-content: center;
    }
    #repsDiv{
        position: relative;
        margin: 0;
        margin-top: 2%;
    }
}
@media (max-width: 279px) {}