<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="exercise-item">
        <h1 class="exercise-name" id="title"></h1>
        <p class="exercise-type" id="type"></p>
        <p class="exercise-difficulty" id="difficulty"></p>
        <p class="exercise-muscle" id="muscle"></p>
        <p class="exercise-equipment" id="equipment"></p>
        <p class="exercise-instruction" id="instruction"></p>
    </div>
</body>
</html>