<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="contenedor-footer">
        <footer id="footer">
            <a id="links1" href="">Privacy</a>
            <a id="links2" href="">Subscription</a>
            <a id="links2" href="">Terms of use</a>
            <a id="links2" href="">FAQs</a>
            <a id="links2"href="">Cookie preferences</a>
        </footer>
    </div>
</body>
</html>