body {
    text-align: center;
    display: flex;
    flex-direction: column;
    /* min-height: 100vh; */
    margin-bottom: 10px; /* Ajusta según sea necesario */
}

#head {
    margin-top: -20px;
    width: 100%;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px; /* Añadido espacio interno al #head */
    box-sizing: border-box; /* Asegura que el padding no incremente el tamaño total */
}

#head h1 {
    background: -webkit-linear-gradient(#181414, #70791f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: rgb(51, 64, 75);
    font-family: 'Rubik', sans-serif;
    font-size: 3em;
    font-weight: 700;
    margin-top: 3%;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 0.02rem;
}

#head p {
    color: rgb(51, 57, 70);
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.3rem;
    font-weight: 700;
    letter-spacing: -.01em;
    line-height: 1.3;
    word-break: break-word;
    margin-left: 10px;
    margin-right: 10px;
}

#container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    justify-content: center;
    gap: 10px; /* Añadido espacio entre los elementos */
    margin-top: 20px; /* Añadido espacio entre #head y #container */
}


.exercise-item {
    margin: 1em; /* Margen en unidades em */
    padding: 1em; /* Relleno en unidades em */
    cursor: pointer;
    box-shadow: 0px 13px 27px -5px rgba(50,50,93,0.25) , 0px 8px 16px -8px rgba(0,0,0,0.3) , 0px -6px 16px -6px rgba(0,0,0,0.025);
    flex: 1 1 200px; /* Tamaño flexible con ancho mínimo y máximo */
    /* opacity: 0.5; */
    width: 100%; /* Ancho del 100% para ser responsive */
    max-width: 200px; /* Ancho máximo en píxeles o cualquier unidad deseada */
    height: 230px; /* Altura fija en píxeles o cualquier unidad deseada */
    background: rgb(229,233,170);
    background: linear-gradient(0deg, rgba(229,233,170,1) 0%, rgba(229,237,34,1) 35%);
}

.exercise-item:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}


/* Media query para ajustar el tamaño en pantallas más pequeñas */
@media (max-width: 768px) {
    .exercise-item {
        max-width: 100%; /* Ajusta el ancho máximo según sea necesario */
        height: auto; /* Permite que la altura se ajuste automáticamente */
    }
}

.exercise-name {
    font-size: 1.5rem;
    /* font-weight: 300; */
    font-family: 'Readex Pro', sans-serif;
    margin-bottom: 30px;
}

.exercise-type {
    font-family: 'Readex Pro', sans-serif;
    color: rgb(36, 43, 49);
}

.exercise-difficulty {
    font-family: 'Readex Pro', sans-serif;
    color: rgb(36, 43, 49);

}

