body {
    text-align: center;
    display: flex;
    flex-direction: column;
    /* min-height: 100vh; */
    margin-bottom: 10px; /* Ajusta según sea necesario */
}

#head {
    margin-top: 5px;
    width: 100%;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px; /* Añadido espacio interno al #head */
    box-sizing: border-box; /* Asegura que el padding no incremente el tamaño total */
}

#head h1 {
    color: rgb(51, 64, 75);
    font-family: 'Kanit' !important;
    font-size: 3em;
    font-weight: 500;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 0.02rem;
}

#head p {
    color: rgb(51, 57, 70);
    font-size: 1.3rem;
    font-weight: 700;
    letter-spacing: -.01em;
    line-height: 1.3;
    word-break: break-word;
    margin-left: 10px;
    margin-right: 10px;
}

#container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    justify-content: center;
    gap: 10px; /* Añadido espacio entre los elementos */
    margin-top: 20px; /* Añadido espacio entre #head y #container */
}


.exercise-item {
    margin: 1em; /* Margen en unidades em */
    padding: 1em; /* Relleno en unidades em */
    cursor: pointer;
    box-shadow: rgba(22, 20, 20, 0.5) 0px 12px; /* Corregido el valor del box-shadow */
    flex: 1 1 200px; /* Tamaño flexible con ancho mínimo y máximo */
    /* opacity: 0.5; */
    width: 100%; /* Ancho del 100% para ser responsive */
    max-width: 200px; /* Ancho máximo en píxeles o cualquier unidad deseada */
    height: 230px; /* Altura fija en píxeles o cualquier unidad deseada */
}

/* Media query para ajustar el tamaño en pantallas más pequeñas */
@media (max-width: 768px) {
    .exercise-item {
        max-width: 100%; /* Ajusta el ancho máximo según sea necesario */
        height: auto; /* Permite que la altura se ajuste automáticamente */
    }
}

.exercise-name {
    font-size: 1.5rem;
    font-weight: 100;
    font-family: 'Lato', sans-serif;
    line-height: 58px;
}

.exercise-type {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(36, 43, 49);
}

.exercise-difficulty {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(36, 43, 49);

}