<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Info</title>
   
</head>
<body>
    <app-nav-bar-logged id="navBar"></app-nav-bar-logged>
    <app-head-info></app-head-info>
    <div id="container" [class.visible]="mostrarDiv">
        <div *ngFor="let exercise of excerciseList" class="exercise-item" (click) = changeWindow(exercise)>
            <h1 class="exercise-name"> {{exercise.getName()}}</h1>
            <p class="exercise-type"> {{exercise.getType()}}</p>
            <p class="exercise-difficulty">{{exercise.getDifficulty()}}</p>
        </div>
    </div>
</body>
</html>