body {
    text-align: center;
    display: flex;
    flex-direction: column;
    background-image: url('..//..//..//assets/gym4.jpg');
    background-size: cover; /* Para que la imagen cubra todo el contenedor */
    background-position: center; /* Para centrar la imagen */
    background-attachment: fixed;
    min-height: 670px;
}
#navBar{
    #navBar{
        background: none;
        background-color: black;
        border-bottom: 1px solid rgba(255, 255, 255, 0.437);
    }
}

#container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    justify-content: center;
    gap: 5%; /* Añadido espacio entre los elementos */
    margin-top: 2%; /* Añadido espacio entre #head y #container */
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

#container.visible {
    opacity: 1;
}

.exercise-item {
    margin: 5%; /* Margen en unidades em */
    padding: 5%; /* Relleno en unidades em */
    cursor: pointer;
    width: 100%; /* Ancho del 100% para ser responsive */
    max-width: 200px; /* Ancho máximo en píxeles o cualquier unidad deseada */
    height: 250px; /* Altura fija en píxeles o cualquier unidad deseada */
    border: 1px solid rgba(192, 192, 192, 0.493);
    border-radius: 20px;
    font-family: 'yolkBold';
    background: rgba(0, 0, 0, 0.7); /* Fondo blanco semitransparente */
    backdrop-filter: blur(2px); /* Efecto de desenfoque */
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.3); /* Sombra con color semitransparente */
    transition: transform 0.5s ease; /* Agrega una transición suave para una animación más agradable */
}

.exercise-item:hover{
    transform: scale(1.05); /* Escala el div al 120% del tamaño original */
}
.exercise-name {
    font-size: 24px;
    /* font-weight: 300; */
    margin-bottom: 30px;
    border-bottom: 1px solid black;
}

.exercise-type {
    color: white;
}

.exercise-difficulty {
    color: white;
}
@media (min-width: 1200px) {}
@media (min-width: 768px) and (max-width: 1199px) {
    #container{
        grid-template-columns: repeat(3, 1fr);
        gap: 5%;
    }
}
@media (min-width: 481px) and (max-width: 767px) {
    #container{
        grid-template-columns: repeat(2, 1fr);
        gap: 5%;
    }
}
@media (max-width: 480px) and (min-width: 280px) {
    #container{
        grid-template-columns: repeat(1, 1fr);

    }
}
