
<div id="container" class="btn-group" role="group" aria-label="Basic radio toggle button group">
  
    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
    <label class="btn btn-outline-primary" for="btnradio1" (click)="handleButtonClick($event)">Abdominals</label>
  
    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
    <label class="btn btn-outline-primary" for="btnradio2" (click)="handleButtonClick($event)">Abductors</label>
    
    <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
    <label class="btn btn-outline-primary" for="btnradio3" (click)="handleButtonClick($event)">Adductors</label>

    <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off">
    <label class="btn btn-outline-primary" for="btnradio4">Biceps</label>

    <input type="radio" class="btn-check" name="btnradio" id="btnradio5" autocomplete="off">
    <label class="btn btn-outline-primary" for="btnradio5">Calves</label>

    <input type="radio" class="btn-check" name="btnradio" id="btnradio6" autocomplete="off">
    <label class="btn btn-outline-primary" for="btnradio6">Chest</label>

    <input type="radio" class="btn-check" name="btnradio" id="btnradio7" autocomplete="off">
    <label class="btn btn-outline-primary" for="btnradio7">Forearms</label>

    <input type="radio" class="btn-check" name="btnradio" id="btnradio8" autocomplete="off">
    <label class="btn btn-outline-primary" for="btnradio8">Glutes</label>

    <input type="radio" class="btn-check" name="btnradio" id="btnradio9" autocomplete="off">
    <label class="btn btn-outline-primary" for="btnradio9">Hamstrings</label>

</div>
