body{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: 'Jost', sans-serif;
	background: linear-gradient(to bottom, #001b48, #02457a, #018abe);
    background-image: url('../../assets/blue background.jpg');
    background-repeat: no repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}