#divInfo {
    height: fit-content;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3%;
}
#bmi {
    display: inline-block;
    text-align: center;
    cursor: pointer;
    color: #fff;
    margin-right: 2%;
    background: rgba(0, 0, 0, 0.7); /* Fondo blanco semitransparente */
    backdrop-filter: blur(2px); /* Efecto de desenfoque */
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.3); /* Sombra con color semitransparente */ 
    height: fit-content; 
    padding: 1%;
}

#bmiMessage{
    text-align: center;
    font-size: 30px;
    font-family: 'globerBold';
    letter-spacing: 3px;
}

#logoInfo {
    width: 12%;
    height: 12%;
}

#userInfo{
    display: inline-block;
    text-align: center;
    cursor: pointer;
    margin-left: 2%;
    color: #fff;
    background: rgba(0, 0, 0, 0.7); /* Fondo blanco semitransparente */
    backdrop-filter: blur(2px); /* Efecto de desenfoque */
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.3); /* Sombra con color semitransparente */ 
}
.user{
    border: 1px solid rgb(200, 244, 0);
    width: 90%;
    margin-left: 2%;
    border-radius: 20px;
    transition: color 0.4s;
    height: fit-content;
    padding: 1%;
}
.user:before {
    font-family: 'FontAwesome';
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    position: relative;
    -webkit-font-smoothing: antialiased;
  }
.icon-user:before {
    content: "\f007";
    margin-right: 3%;
  }
#userInfo:hover{
    #userName{
        color: rgb(243, 191, 0);
    }
}

.miniBar {
    color: white;
    width: 20%;
    height: fit-content;
    border-radius: 10px;
    cursor: pointer;
    font-size: 17.5px;
}

@media (min-width: 1200px) {}
@media (min-width: 768px) and (max-width: 1199px) {
    #bmiMessage{
        font-size: calc(0.64 * 30px);
        letter-spacing: calc(0.64 * 3px);
    }
    .miniBar{
        border-radius: calc(0.64 * 10px);
        font-size: calc(0.64 * 17.5px);
    }
}
@media (max-width: 767px) {
    .miniBar{
        width: 50%;
        min-height: 200px;
    }
    #divInfo{
        margin-top: 15%;
    }
    #bmiMessage{
        padding-top: 20%;
        font-size: 25px;
    }
    #userInfo{
        padding-top: 5%;
    }
}
@media (max-width: 480px) and (min-width: 280px) {
    .miniBar{
        width: 50%;
        min-height: 100px;
    }
    #divInfo{
        margin-top: 15%;
    }
    #bmiMessage{
        padding-top: 20%;
    }
    #userInfo{
        padding-top: 5%;
    }
}
@media (max-width: 279px) {
    #bmiMessage{
        font-size: calc(0.2 * 30px);
        letter-spacing: calc(0.2 * 3px);
    }
    .miniBar{
        border-radius: calc(0.2 * 10px);
        font-size: calc(0.2 * 17.5px);
    }
    #userName{
        font-size: calc(0.2 * 25px);
    }
}