#userImage {
    background-color: grey;
    border-radius: circle;
}
p{
    text-align: center;
}

#linksInfo {
    display: flex;
    align-content: center;
    align-items: center;
    justify-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 1s ease-in-out; /* Transición suave durante medio segundo */
}
#linksInfo.visible{
    opacity: 1;
}

#userName{
    text-align: center;
    font-size: 25px;
    font-family: 'Noto Sans Display', sans-serif;
}

#footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media (min-width: 1200px) {}
@media (min-width: 768px) and (max-width: 1199px) {
    #userName{
        font-size: calc(0.64 * 25px);
    }
}
@media (max-width: 767px) {
    #linksInfo {
        display: grid;
        width: 100%;
    }
}
@media (max-width: 480px) and (min-width: 280px) {
    #linksInfo {
        display: grid;
        width: 100%;
    }
}
@media (max-width: 279px) {
    #userName{
        font-size: calc(0.2 * 25px);
    }
    #linksInfo {
        display: grid;
        justify-content: center;
        width: 100%;
    }
}