<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FitHub</title>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Display&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
</head>
<body>

  <app-nav-bar-logged></app-nav-bar-logged>

  

  <app-welcome-not-logged *ngIf="user.email == ''"></app-welcome-not-logged>
  <app-welcome-user *ngIf="user.email != ''"></app-welcome-user>

  <div id="linksInfo" [class.visible]="mostrarDiv">
    <app-exercise-show></app-exercise-show>
    <app-routine-show *ngIf="user.email != ''"></app-routine-show>
    <app-login-show *ngIf="user.email == ''"></app-login-show>
  </div>

  <br><br><br>
  
  <app-footer id="footer"></app-footer>

</body>
</html>


