html, body {
    display: flex;
  flex-direction:row;
  height:100%;
  width:100%;

  /* margin: 0; */
}
/* *{margin: 0; padding: 0;font-family: 'Old Standard TT', serif;} */
.container{
     display: grid;
     justify-content: center;
     align-content: center;
     min-height: 100vh;
     grid-template-columns: 30vw;
     grid-template-rows: repeat(3,10vh) 5vh repeat(2,10vh);
     grid-gap: 10px;
}

h1{
    text-align: center;
    font-family: 'Agbalumo';
    color: rgb(5, 4, 4);
}


.submit-btn{
    background-color: turquoise;
}
.bmi-value{
    background-color: yellow;
    display: grid;
    grid-template-rows: 50% 50%;
    font-family: 'Agbalumo';
}
.status{
    background-color: aquamarine;
    display: grid;
    grid-template-rows: 50% 50%;
    font-family: 'Agbalumo';
    
}

.result{
    font-family: 'Quicksand';
    font-size: 15px;
    margin-top: 5px;
}

.container > div{
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    color: black;
    border-radius: 10px;
}
button,input{
    min-width: 100%;
    min-height: 100%;
    border: none;
    outline: none;
    font-size: 1.5vw;
    border-radius: 8px;
    font-family: 'Carter One';
    
}
input{
    background: rgb(245, 210, 157);
    text-indent: 0.5em;
    max-width:100% ;
    color: rgb(0, 0, 0);
    outline: none;
    font-family: 'Quicksand';
    font-size: 15px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}
button{
    background: tomato;
    cursor: pointer;
}
button:hover{
    background: #c70039;
    color: white;
}




body{
    /* background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #fce044 0%, #f5b208 100%); */
    background-color: #FEE140;
background-image: linear-gradient(90deg, #FEE140 0%, #FA709A 100%);

    /* background-color: #85FFBD;
background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%); */
/* background-color: #FFE53B;
background-image: linear-gradient(147deg, #FFE53B 0%, #FF2525 74%); */



}

#not-logged-form{
    text-align: center;
    margin-top: 20%;
    font-family: 'Inter', sans-serif;
    height: 100%;
    width: 100%;
    margin-bottom: 230px;
}

.logged{
    display: inline-block;
    outline: 0;
    border: none;
    cursor: pointer;
    padding: 0 24px;
    border-radius: 50px;
    min-width: 200px;
    height: 50px;
    font-size: 18px;
    background-color: rgb(255, 136, 1);
    font-weight: 500;
    color: #222;  
    margin-top: 10px;
}











