<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <app-nav-bar-logged id="navBar"></app-nav-bar-logged>
    <div id="routinesFounded">
        <app-head></app-head>
        <div id="container">
            <div *ngFor="let routine of publicRoutinesList" class="routine-item" (click) = showRoutine(routine)>
                <h1 class="routine-name"> {{routine.name.toUpperCase()}}</h1>
                <p class="routine-amountEX"> {{routine.excerciseList.length}} excercises</p>
                <p class="routine-access">From {{routine.userName}}</p>
            </div>
        </div>
        <app-no-routines></app-no-routines>
    </div>
    <app-footer></app-footer>
</body>
</html>