<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="main">  	
		<input type="checkbox" id="chk" aria-hidden="true">

			<div class="signup">
				<form action="submit">
					<label for="chk" aria-hidden="true">Sign up</label>
					<input type="text" name="txt" placeholder="User name" required="" [(ngModel)]="userName">
					<input type="email" name="email" placeholder="Email" required="" [(ngModel)]="email">
					<input type="password" name="pswd" placeholder="Password" required="" autocomplete="current-password" [(ngModel)]="password">
					<button type="button" (click)="onSubmit($event)">Sign up</button>
				</form>
			</div>
			<div class="row" *ngIf="!username?.['valid'] && (username?.['dirty'] || username?.['touched'])">
				<div class="col-lg-12">
					<div class="alert alert-danger" role="alert" *ngIf="username?.errors?.['required']">
						Username is required
					</div>
					<div class="alert alert-danger" role="alert" *ngIf="firstName?.errors?.['lettersOnly']">
						Username must contain letters only
					</div> 
				</div>
			</div>
			<div class="login">
				<form action="submit">
					<label for="chk" aria-hidden="true">Login</label>
					<input type="email" name="email" placeholder="Email" required="" [(ngModel)]="emailAux">
					<input type="password" name="pswd" placeholder="Password" required="" [(ngModel)]="passAux">
					<button type="button" (click)="loginButton($event)">Login</button>
				</form>
			</div>
	</div>
</body>
</html>