<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete</title>
</head>
<body>
    <app-nav-bar-logged></app-nav-bar-logged>
    <br><br><br><br>
    <div id="container">
        <h1 id="messageCreate">DELETE A ROUTINE</h1>
    <div id="delete" style="display: none;">
        <label for="nameRoutine" id="labelName">Name</label>
        <br>
        <input type="text" name="nameRoutine" id="nameRoutine" placeholder="Set the name of the routine to delete">
        <br>
        <button id="deleteRoutine" (click)="deleteRoutine()">Delete</button>
    </div>
    </div>
    <br>
    <div id="messages" style="display: none;">
        <p id="deleted" class="message" style="display: none;">Routine successfully deleted</p>
        <p id="notFounded" class="message" style="display: none;">Routine not founded</p>
    </div>
    <div id="backToListDiv">
        <button id="backToList" class="back" (click)="backToList('routines')">BACK TO PREVIOUS PAGE</button>
        <button id="backToMenu" class="back" (click)="backToList('')">BACK TO THE PRINCIPAL MENU</button>
    </div>
    <app-footer></app-footer>
</body>
</html>