body {
    margin: 0;
	padding: 0;
    align-items: center;
    justify-content: center;
    justify-items: center;
	font-family: 'Jost', sans-serif;
    background-image: url('../../../assets/gym5.jpg');
    min-height: 830px;

}
#infoRoutine{
    margin-top: 0.5%;
    padding-bottom: 2%;
    background-color: black;
    h1{
        font-family: 'globerBold';
        letter-spacing: 3px;
    }
    p{
        text-align: center;
        font-family: 'glober';
        font-weight: 800;
        letter-spacing: 1px;
    }
}

.routine-name {
    font-size: 3rem;
    font-weight: 100;
    font-family: 'Lato', sans-serif;
    line-height: 58px;
    text-align: center;
    color: white;
    padding-top: 90px;
    text-transform: uppercase;
}
.exercise-name {
    font-size: 3rem;
    font-weight: 100;
    font-family: 'Lato', sans-serif;
    line-height: 58px;

}
.routine-item {
    color: rgb(0, 0, 0);
    border-radius: 8px;
    text-align: center;
    margin-top: 20px;
    width: 40%;
    display: flex;
    flex-wrap: wrap;
}
.exercise-item {
    padding-right: 10%;
    padding-left: 10%;
    text-align: center;
    background: rgba(226, 226, 226, 0.7); /* Fondo blanco semitransparente */
    backdrop-filter: blur(2px); /* Efecto de desenfoque */
    color: black;
    h1{
        font-family: 'globerBold';
        font-weight: 800;
        margin-top: 5%;
    }
    p{
        font-family: 'yolk';
        font-weight: 300;
    }
}
#swiperContainer{
    margin-top: 1%;
    width: 50%;
    height: 500px;
}
.exercise-type {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.exercise-difficulty {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.back {
    border-radius: 35px;
    width: 150px;
    height: 65px;
    border: 0px;
    font-size: 15px;
    font-weight: 100;
    font-family: 'Lato', sans-serif;
    line-height: 20px;
    cursor: pointer;
    background-color: rgb(147, 216, 0);
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 60px;
    margin-bottom: 15px;
    transition: transform 0.5s ease;
}
#backToListDiv {
    display: flex;
    justify-content: space-around;
    margin-bottom: 0;
}
.back:hover {
    background-color: black;
    border: 1px solid white;
    color: white;
    transform: scale(1.05); /* Escala el div al 120% del tamaño original */
}
#noExercises {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 1em; /* Margen en unidades em */
  padding: 1em; /* Relleno en unidades em */
  box-shadow: 0px 13px 27px -5px rgba(50,50,93,0.25) , 0px 8px 16px -8px rgba(0,0,0,0.3) , 0px -6px 16px -6px rgba(0,0,0,0.025);
  width: 50%; /* Ancho del 100% para ser responsive */
  height: 230px; /* Altura fija en píxeles o cualquier unidad deseada */
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.7); /* Fondo blanco semitransparente */
  backdrop-filter: blur(2px); /* Efecto de desenfoque */
}
#alignNE{
  display: flex;
  justify-content: center;
}
#noExercisesH1 {
    font-size: 30px;
    font-family: "globerBold";
    letter-spacing: 2px;
}
#swiperID{
  width: 100%;
}
.btn {
    border: none;
    font-family: 'Lato';
    font-size: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 25px 80px;
    display: inline-block;
    margin: 15px 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  
  .btn:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  
  /* Pseudo elements for icons */
  .btn:before {
    font-family: 'FontAwesome';
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    position: relative;
    -webkit-font-smoothing: antialiased;
  }
  
  
  /* Icon separator */
  .btn-sep {
    padding: 25px 60px 25px 120px;
  }
  
  .btn-sep:before {
    background: rgba(0,0,0,0.15);
  }
  
  .btn:before {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    line-height: 3;
    font-size: 140%;
    width: 60px;
  }

  .btn-1 {
    background: #34495e;
    color: #fff;
  }
  
  .btn-1:hover {
    background: #2c3e50;
  }
  
  .btn-1:active {
    background: #2c3e50;
    top: 2px;
  }
  .btn-2 {
    background: #3498db;
    color: #fff;
  }
  
  .btn-2:hover {
    background: #2980b9;
  }
  
  .btn-2:active {
    background: #2980b9;
    top: 2px;
  }
  .icon-previous:before {
    content: "\f0a8";
  }
  
  .icon-all:before {
    content: "\f122";
  } 

  @media (min-width: 1200px) {}
  @media (min-width: 768px) and (max-width: 1199px) {
    #swiperContainer{
      width: 60%;
      height: 500px;
      max-height: 550px;
    }
    .btn{
      padding: 3% 9%;
    }
    #infoRoutine{
      padding-top: 2%;
    }
    #noExercises{
      width: 70%;
    }
  }
  @media (min-width: 481px) and (max-width: 767px) {
    #swiperContainer{
      width: 80%;
      height: 550px;
      max-height: 600px;
    }
    #backToListDiv{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      align-items: center;
    }
    .btn{
      width: 65%;
      padding: 5% 15%;
    }
    #infoRoutine{
      padding-top: 10%;
    }
    #noExercises{
      width: 85%;
    }
  }
  @media (max-width: 480px) and (min-width: 280px) {
    #swiperContainer{
      width: 95%;
      height: 800px;
      max-height: 850px;
    }
    #backToListDiv{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      align-items: center;
    }
    .btn{
      width: 95%;
      padding: 8% 25%;
      font-size: 12px;
    }
    #infoRoutine{
      padding-top: 10%;
      h1{
        font-size: 40px;
      }
    }
    #noExercises{
      width: 95%;
    }
  }