body {
    margin: 0;
	padding: 0;
    align-items: center;
    justify-content: center;
    justify-items: center;
	min-height: 100vh;
	font-family: 'Jost', sans-serif;
    background-color: rgb(21, 21, 28);

}
.routine-name {
    font-size: 3rem;
    font-weight: 100;
    font-family: 'Lato', sans-serif;
    line-height: 58px;
    text-align: center;
    color: white;
    padding-top: 90px;
    text-transform: uppercase;
}
.exercise-name {
    font-size: 3rem;
    font-weight: 100;
    font-family: 'Lato', sans-serif;
    line-height: 58px;

}
.routine-item {
    color: white;
    border-radius: 8px;
    text-align: center;
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-shadow: rgba(22, 20, 20, 0.5) 12px 12px 12px 12px; 
}
.exercise-item {
    background-color: rgb(43, 43, 56);
    background-color: none;
    border: 1px solid rgb(130, 130, 130);
    border-radius: 8px;
    text-align: center;
    margin: 5px;
    width: 470px;
    box-shadow: rgba(22, 20, 20, 0.5) 12px 12px 12px 12px; 
    transition: transform 0.5s ease; /* Agrega una transición suave para una animación más agradable */
}
.exercise-item:hover{
    border: 2px solid rgb(130, 130, 130);
    transform: scale(1.03); /* Escala el div al 120% del tamaño original */
}
.exercise-type {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.exercise-difficulty {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.back {
    border-radius: 35px;
    width: 150px;
    height: 65px;
    border: 0px;
    font-size: 15px;
    font-weight: 100;
    font-family: 'Lato', sans-serif;
    line-height: 20px;
    cursor: pointer;
    background-color: rgb(147, 216, 0);
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 60px;
    margin-bottom: 15px;
    transition: transform 0.5s ease;
}
#backToListDiv {
    display: flex;
    justify-content: space-between;
}
.back:hover {
    background-color: black;
    border: 1px solid white;
    color: white;
    transform: scale(1.05); /* Escala el div al 120% del tamaño original */
}
#noExercises {
    color: white;
    background-color: rgb(43, 43, 56);
    background-color: none;
    border: 1px solid rgb(130, 130, 130);
    border-radius: 8px;
    text-align: center;
    margin: 5px;
    margin-left: 495px;
    width: 470px;
    height: 150px;
    box-shadow: rgba(22, 20, 20, 0.5) 12px 12px 12px 12px; 
    text-align: center;
}
#noExercisesH1 {
    margin-top: 20px;
    font-size: 30px;
}