#noRoutines{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    width: 80%;
    height: 430px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    border-radius: 15px;
    border: 1px solid grey;
    background: rgba(0, 0, 0, 0.7); /* Fondo blanco semitransparente */
    backdrop-filter: blur(2px); /* Efecto de desenfoque */
    box-shadow: rgba(22, 20, 20, 0.5) 10px 10px 10px 10px; 
    text-align: center;
    font-family: 'globerBold';
    letter-spacing: 3px;
}
#noRoutines:hover {
    color: greenyellow;
    border: 1px solid rgb(166, 166, 166);
}