body {
    background-color: rgb(21, 21, 28);
    height: 840px;
    color: white;
}
input {
    border-radius: 15px;
    margin-left: 15px;
    height: 50px;
    width: 230px;
    border: 0;
}
button {
    border: 0;
    width: 50px;
    font-size: 10px;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 10px;
    background-color: rgb(0, 178, 0);
}
button:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
#actualizeInfo {
    margin-top: 0px;
    margin-left: 380px;
    border: 1px solid grey;
    border-radius: 15px;
    width: 40%;
    height: 700px;
}
label {
    margin-top: 25px;
    width: fit-content;
    height: fit-content;
    margin-left: 15px;

}
#show {
    border-bottom: 1px solid grey;
    margin-left: 30px;
    height: fit-content;
    width: 90%;
}
#accSet{
    margin-top: 30px;
}
.saved {
    background-color: rgb(0, 178, 0);
    font-size: 15px;
    width: fit-content;
    margin-left: 55%;
    margin-top: -34px;
}
#backToMenu {
    margin-top: -30px;
    border: 0;
    width: 120px;
    height: 50px;
    text-align: center;
    font-size: 15px;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 1330px;
    background-color: greenyellow;
    color: black;
}
#backToMenu:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}