<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <app-nav-bar-logged></app-nav-bar-logged>
    <br><br><br><br>
    <div id="actualizeInfo">
        <div id="show">
            <h1 id="accSet">ACCOUNT SETTINGS</h1>
        </div>
        <label for="firstName">First name</label>
        <br>
        <input type="text" name="firstName" id="firstNameInp">
        <button class="save" (click)="setInfo('firstName')">SAVE</button>
        <p id="savedFN" class="saved" style="display: none;">Saved!</p>
        <br>
        <label for="lastName">Last name</label>
        <br>
        <input type="text" name="lastName" id="lastNameInp">
        <button class="save" (click)="setInfo('lastName')">SAVE</button>
        <p id="savedLN" class="saved" style="display: none;">Saved!</p>
        <br>
        <label for="age">Age</label>
        <br>
        <input type="text" name="age" id="ageInp">
        <button class="save" (click)="setInfo('age')">SAVE</button>
        <p id="savedAge" class="saved" style="display: none;">Saved!</p>
        <br>
        <label for="weight">Weight</label>
        <br>
        <input type="text" name="weight" id="weightInp">
        <button class="save" (click)="setInfo('weight')">SAVE</button>
        <p id="savedWeight" class="saved" style="display: none;">Saved!</p>
        <br>
        <label for="height">Height</label>
        <br>
        <input type="text" name="height" id="heightInp">
        <button class="save" (click)="setInfo('height')">SAVE</button>
        <p id="savedHeight" class="saved" style="display: none;">Saved!</p>
    </div>
    <div id="backToMenu" (click)="changeWindow('')" style="display: block;">Back to principal menu</div>
</body>
</html>