/* You can add global styles to this file, and also import other style files */
/* #login, #register, #Excercises, #Routines, #Schedule, #IMC {
    color: white;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 40px;
    padding-bottom: 30px;
    border-radius: 0;
    text-decoration: none;
    position: relative;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    margin-right: 0;
}
#bodyM {
    background-color: rgb(19, 19, 19);
}
#login:hover, #register:hover, #Excercises:hover, #IMC:hover, #Schedule:hover, #Routines:hover {
    background-color: black;
}
nav {
    background-color: rgb(212, 0, 0);
    padding: 30px;
    margin-top: 20px;
    border-radius: 7px;
}
#f1 {
    padding: -50px;
    margin-top: -20px;
    margin-bottom: -15px;
    margin-left: -20px;
    margin-right: 5px;
    height: 47px;
    width: 120px;
}
#checo {
    position: relative;
    margin-left: 27.5%;
}
#logoc {
    width: 79.5px;
    height: 47px;
    margin-top: -10px;
    margin-bottom: -15px;
    margin-left: 10px;
    margin-right: 5px;
}
#fia {
    width: 70.5px;
    height: 47px;
    margin-top: -10px;
    margin-bottom: -15px;
    margin-left: 10px;
    margin-right: 5px;
}
#mexico {
    width: 82.25px;
    height: 47px;
    margin-top: -10px;
    margin-bottom: -15px;
    margin-left: 10px;
}
p {
    color: white;
}
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital@1&display=swap');
*{
    font-family: 'Ubuntu', sans-serif;
} */