body {
    font-family: Arial, sans-serif;
    background-color: rgb(48, 48, 56);
    height: max-content;
  }
  #calendar {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    margin: 20px;
    font-size: 10px;
  }
  
  .day {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
  }
  
  .current-month {
    background-color: #eee;
  }
  
  .today {
    background-color: #aaf;
  }
#month{
  display: grid;
  grid-template-columns: repeat(7, 1fr); /* 7 columnas iguales */
  gap: 20px;
  text-align: center;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 10px;
  background-color: rgb(206, 206, 206);
  color: rgb(0, 0, 0);
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 10px;
  row-gap: 10px;
  cursor: pointer;
  transition: transform 0.5s ease;
} 
#month:hover{
  transform: scale(1.05); /* Escala el div al 120% del tamaño original */
}
#monthName{
  font-size: 15px;
  grid-column: span 7;
  margin-top: 20px;
  margin-bottom: 0;
}
.dayTipe{
  margin-bottom: -10px;
}
#season{
  color: white;
  text-align: center;
}
#date{
  color: white;
}
.current-day{
  background-color: red;
  border-radius: 30px;
  padding-top: 3px;
  margin-top: -3px;
  height: 70%;
}