<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <app-nav-bar-logged></app-nav-bar-logged>
    <br><br><br><br>
    <h1 id="season">2024</h1>
    <div id="calendar">
        <div id="month" *ngFor="let month of months" class="month-item">
            <h1 id="monthName">{{month.name}}</h1>
            <p class="dayType">M</p>
            <p class="dayType">T</p>
            <p class="dayType">W</p>
            <p class="dayType">T</p>
            <p class="dayType">F</p>
            <p class="dayType">S</p>
            <p class="dayType">S</p>
            <div id="days" *ngFor="let day of month.days" class="day-item" [ngClass]="{'current-day': isCurrentDay(day.number, month.monthNumber)}">
                <p>{{day.number}}</p>
            </div>
        </div>
    </div>
</body>
</html>