#noRoutineMessage {
    color: black;
}
#noRoutines {
    background-color: rgb(203, 203, 203);
    width: 80%;
    height: 500px;
    margin-left: 138px;
    margin-top: 40px;
    border-radius: 15px;
    border: 3px solid grey;
    box-shadow: rgba(22, 20, 20, 0.5) 10px 10px 10px 10px; 
    text-align: center;
}
#noRoutineMessage {
    margin-top: 210px;
}

#options {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.optionButton {
    background-color: rgb(43, 84, 146);
    color: white;
    border-radius: 10px;
    width: 180px;
    height: 80px;
    border: 0px;
    font-size: 20px;
    font-weight: 100;
    font-family: 'Lato', sans-serif;
    line-height: 58px;
    cursor: pointer;
    transition: transform 0.5s ease; /* Agrega una transición suave para una animación más agradable */
}
#myRoutines {
    color: white;
    text-align: center;
    background-color: rgb(43, 43, 56);
    margin-top: 10px;
}
#routinesFounded {
    margin-top: 30px;
    border-top: 1px solid grey;
    background-color: rgb(43, 43, 56);

}
.optionButton:hover {
    transform: scale(1.05); /* Escala el div al 120% del tamaño original */
}
#optionLook {
    font-size: 20px;
    line-height: 30px;
}
#container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px; /* Añadido espacio entre los elementos */
    margin-top: 20px; /* Añadido espacio entre #head y #container */
    border-top: 2px solid rgb(118, 197, 0);
    background-color: rgb(43, 43, 56);
    height: 550px;
}
.routine-item {
    text-align: center;
    margin: 1em; /* Margen en unidades em */
    padding: 1em; /* Relleno en unidades em */
    cursor: pointer;
    box-shadow: 0px 13px 27px -5px rgba(50,50,93,0.25) , 0px 8px 16px -8px rgba(0,0,0,0.3) , 0px -6px 16px -6px rgba(0,0,0,0.025);
    flex: 1 1 200px; /* Tamaño flexible con ancho mínimo y máximo */
    /* opacity: 0.5; */
    width: 100%; /* Ancho del 100% para ser responsive */
    max-width: 200px; /* Ancho máximo en píxeles o cualquier unidad deseada */
    height: 230px; /* Altura fija en píxeles o cualquier unidad deseada */
    background: rgb(229,233,170);
    background: linear-gradient(0deg, rgba(229,233,170,1) 0%, rgba(229,237,34,1) 35%);
    transition: transform 0.5s ease; /* Agrega una transición suave para una animación más agradable */
    
}

.routine-item:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transform: scale(1.03); /* Escala el div al 120% del tamaño original */

}


/* Media query para ajustar el tamaño en pantallas más pequeñas */
@media (max-width: 768px) {
    .exercise-item {
        max-width: 100%; /* Ajusta el ancho máximo según sea necesario */
        height: auto; /* Permite que la altura se ajuste automáticamente */
    }
}

.routine-name {
    font-size: 1.5rem;
    /* font-weight: 300; */
    font-family: 'Readex Pro', sans-serif;
    margin-bottom: 30px;
}

.routine-amountEX {
    font-family: 'Readex Pro', sans-serif;
    color: rgb(36, 43, 49);
}
#selectRoutine {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 181, 0);
    border-radius: 60px;
    width: 50%;
    height: 100px;
}
#selectH1{
    text-align: center;
    font-size: 30px;
}
body{
    background-color: rgb(21, 21, 28);
    height: 810px;
}