<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
</head>
<body>
    <nav id="navBar">
        <img class="logo" id="leftimg" src='../../assets/Logo transparente.png' alt="logo">

        <div id="navBarElements">
            <div id="logOut" *ngIf="user" (click)="logOut()"> logOut </div>
            <div id="logined" [routerLink]="['/login']" *ngIf="!user"> login </div>
            <div id="Schedule" [routerLink]="['/calendar']">Schedule</div>
            <div id="Routines" [routerLink]="['/routines']">Routines</div>
            <div id="Excercises" [routerLink]="['/excercise']">Excercises</div>
            <div id="BMI" [routerLink]="['/BMI']">BMI</div>
            <div id="Menu" [routerLink]="['/']">Menu</div>
        </div>

        <p *ngIf="user" id="username" [routerLink]="['/specificInfoUser']" class="user icon-user">{{user.userName}}</p>
        <p *ngIf="!user" class="user icon-user" [routerLink]="['/login']">login</p>
    </nav>    
</body>
</html>