<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
</head>
<body>
    <nav id="navBar">
        <img class="logo" id="leftimg" src='../../assets/Logo transparente.png' alt="logo">

        <div id="navBarElements">
            <div id="logOut" (click)="logOut()"> logOut </div>
            <div id="Schedule" (click)="changeWindow('calendar')">Schedule</div>
            <div id="Routines" (click)="changeWindow('routines')">Routines</div>
            <div id="Excercises" (click)="changeWindow('excercise')">Excercises</div>
            <div id="BMI" (click)="changeWindow('BMI')">BMI</div>
            <div id="Menu" (click)="changeWindow('')">Menu</div>
        </div>

        <p id="username" (click)="changeWindow('specificInfoUser')" class="user icon-user">{{user.userName}}</p>
        <div id="imageDiv">
            <img id="imagenProfile" (click)="changeWindow('specificInfoUser')" src="../../assets/profileDefault.png" alt="">
            <p id="userNameImage">{{user.userName}}</p>
        </div>
    </nav>    
</body>
</html>