<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-dark bg-dark" id="navBar">
        <img id="logo" src='../../assets/Logo transparente.png' alt="logo">

        <div id="logOut" (click)="logOut()"> log out </div>
        <div id="Schedule" (click)="changeWindow('calendar')">Schedule</div>
        <div id="Routines" (click)="changeWindow('routines')">Routines</div>
        <div id="Excercises" (click)="changeWindow('excercise')">Excercises</div>
        <div id="BMI" (click)="changeWindow('BMI')">BMI</div>

        <div class="pos-f-t">
            <div class="collapse" id="navbarToggleExternalContent">
            <!-- Contenido del menú desplegable:  -->
              <div class="bg-dark p-4"> 
                <h4 class="text-white">Collapsed content</h4>
                <span class="text-muted">Toggleable via the navbar brand.</span>
              </div>
            </div>
            <nav class="navbar navbar-dark bg-dark" id="botonDesplegable">
              <button class="navbar-toggler"  type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            </nav>
          </div>
        
        
    </nav>    
</body>
</html>